@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF9F3;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1{
  text-align: center;
  font-size: 2em;
  color: #BCBF60;
  font-weight: 700;
  padding: 1.5em;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 3.125em;
}
  /* SERVICES */
.services{
  width: 100%;
  display: block;
}

  /* ICONS */
  .icons{
    position: relative;
    padding-bottom: .5em;
    opacity: .8;
    color: #384001;
  }
  .icons:hover{
    opacity: 1;
    color: #BCBF60;
  }

  .icons-border{
    display: block;
    width: 80px;
    height: 2px;
    background: #384001;
    opacity: 0.8;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .icons figcaption{
    position: relative;
    width: 100%;
    text-align: center;
    opacity: 0;
    padding: 1em;
    line-height: 1.5em;
    font-weight: 300;
    color: #384001;
  }

  .icons:hover figcaption{
    opacity: 1;
  }

  .icons figcaption h6{
    text-align: center;
    margin-bottom: -.3em;
    font-weight: 400;
    color: #384001;
  }


  .services-icons{
    text-align: center;
    margin-left: 3.125em;
    margin-right: 3.125em;
  }
