
.icon-tree:before { content: '\e800'; } /* '' */
.icon-binoculars:before { content: '\e801'; } /* '' */
.icon-paw:before { content: '\e802'; } /* '' */
.icon-btn-close:before { content: '\e803'; } /* '' */
.icon-female:before { content: '\e804'; } /* '' */